<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some title</title>
  </head>
  <body>
    <h1>This is a Heading about Headings</h1>
    <p>{{pageTitle}}</p>
    <p>{{currentYear}}</p>
  </body>
</html>